
.body_bg{
	position: fixed;
	width: 100%;
	height: 100%;
	background: linear-gradient(top,#00183C,rgb(80, 13, 13));
	background: -webkit-linear-gradient(top,#00183C,rgb(80, 13, 13));
	background: -moz-linear-gradient(top,#00183C,rgb(80, 13, 13));
	z-index: -1;
}

a:hover {text-decoration: none;}
/*//星星动画*/

@-webkit-keyframes star_1{
	from{right:0;opacity: 1;}
	to{top:70%;right:95%;opacity: 0;}
}
.star{
	color: #fff;
	position: absolute;
	z-index: -1;
	animation: star_1  ease-in-out 3s infinite;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor: default;
}
.star_1{
	top: 20px;
	
}
.star_2{
	top: 35px;
	animation: star_1  ease-in-out 10s infinite;
}.star_3{
	top: -20px;
	animation: star_1  ease-in-out 1s infinite .25s, 100ms;
}.star_4{
	top: 45px;
	animation: star_1  ease-in-out 6s infinite;
}.star_5{
	top: 46px;
	animation: star_1  ease-in-out 16s infinite;
}.star_6{
	top: 150px;
	animation: star_1  ease-in-out 4s infinite;
}.star_7{
	top: 236px;
	animation: star_1  ease-in-out 8s infinite;
}.star_8{
	top: 570px;
	animation: star_1  ease-in-out 6s infinite;
}
.jumbotron{
	background: #3C3C3C;
	border: 1px solid #00183C;
	
}
.jumbotron{
	opacity: 0.9;
	border: 2px solid #fff;
	background: none;
}
.my_ico{
	border: 3px solid #fff;
	border-radius: 50%;
	width: 100%;
}
@-webkit-keyframes ico{
	from{opacity: 0;}
	to{}
}
.my_name{
	width: 100px;
	height: 200px;
	animation:ico 2s;
	margin: 0 auto;
	opacity: 1;
}
.my_name div{
	color: #fff;
	text-align: center;
	font-size: 14px;
margin-top: 20px;
}
.active{
	text-align: center;
}
b{
	color: rgb(181, 144, 146);

}
.my_con{
	border: 2px solid #FFF;
	border-radius: 10px;
	height: 250px;
}
.my_con img{
	width: 36px;
	height: 36px;
	text-align: center;
}
.my_con b{
	color: #fff;
	font-size: 22px;
	vertical-align: auto;
	
}
.my_con_div{
	margin: 20px auto;
	width: 450px;
	height: 50px;
}
.my_con_div_container{
	margin: 0 auto;
	width: 650px;
	height: 50px;
	
}
.inblo{
	display: inline-block;
	
}
.progress{
	margin-bottom: 0;
}
.thisismy{
	margin-bottom: 20px;
	text-align: center;
}
.thisismy h3{
	border-bottom: 1px solid #fff;
}
.my_con_div_2{
	height: 50px;
	width: 300px;
	margin: 20px auto;
	padding-left: 20px;
}
/*切换动画*/

.show_ani{
	margin-top: 20px;
	animation: ico ease-in 300ms;
}
@-webkit-keyframes triangle{
	0%{transform: rotatez(-135deg);}
	50%{transform: rotatez(-130deg);}
	100%%{transform: rotatez(-135deg);}
}
.job_ico_triangle{
	display: inline-block;
	width: 40px;
    position: relative;
    transform: rotatez(-135deg);
    animation: triangle ease-in-out 2s infinite;
}
.my_job_head{
	height: 95px;
}
.my_job_head b{
	display: inline-block;
	color: #fff;
	line-height: 95px;
	position: relative;
	top: 22px;
}
.my_job_img img{
	width: 100%;
}
.my_job{
	border: 2px solid #fff;
	border-radius: 10px;
}
.my_job_con b{
	color: #fff;
	font-size: 14px;
	line-height: normal;
	line-height: 100%;
	
}
.my_job_con a{
	display: inline-block;
	height: 100%;
	
}
.my_job_con{
	height: 100%;
	margin: 20px auto;
}
.my_job_a{
	padding-top: 70px;
	
}
.footer{
	width: 100%;
	height: 40px;
	text-align: center;
	border: 1px solid #fff;
	margin-top: 30px;
	border-radius: 5px;
}
.footer b{
	color: #fff;
	line-height: 40px;
	
}
/*文本选择背景色*/
::selection{
  background-color:#84ca7f;
  color:#000;
}
::-webkit-selection{
  background-color:#84ca7f;
  color:#000;
}
::-moz-selection{
  background-color:#84ca7f;
  color:#000;
}