.myheading,.myheading-2{
	background:#708FFF;
}
a{
	color: #333;
}
li{
	list-style: none;
}
ul,li{
	margin: 0;
	padding: 0;
}
.nav-ico{
	background: url(../img/bg-new-toolbar_6e9bc53.png)no-repeat ;
	background-size: 40px 500px;
	width: 34px;
	height: 44px;
	display: inline-block;
}
.nav-ico-1{
	background-position: center 6px;
}
.nav-ico-2{
	background-position: center -460px;
}
.navbar-header{
	background: url(../img/bg-news-logo_344ce44.png)no-repeat;
	background-size: 77px auto;
	background-position: center 6px;
}
.nav-ico-3,.nav-ico-4{
	float: right;
}
.nav-ico-3{
	background-position: center -107px;
}
.nav-ico-4{
	background-position: center -162px;
}

.nav-table div{
    color: #fff;
	text-align: center;	
}
.nav-table{
	color: #fff;
}
.my-slider{
 margin: 10px 10px 10px 10px;
}
img{
	width: 100%;
}
img span{
	float: left;
	z-index: 999;
	margin-bottom: 0;
	width: 100%;
	background: #000000;
	color: #fff;
	
}
.unslider{
	margin-top: -21px;
}
.hot{
	width: 36px;
	height: 28px;
	background: #e02f2f;
	text-align: center;
	margin-left: 10px;
	

	
}

.my-hot{
	margin-left: 50px;
}
.hot span{
	color: #fff;
	font-size: 13px;
	line-height: 28px;
}
.news-cont{
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: 1px solid #E4E4E4;
	padding: -10px;
}
.news{
	height: 68px;
	margin: 10px;
	

}
.news-cont img{
	display: block;
	float: left;
	width: 90px;
	height: 68px;
	margin-right: 20px;
}
b{
	margin-right: 10px;
	font-size: small;
	color: #9FA0A5;
	margin-bottom: 5px;
}
.newstitle{
	height: 40px;
	margin-bottom: 12px;
}
.newstitle-span{
	color: #707070; font-size: 16px;
}
